div {
    font-size: 20px;
    color: red;
    background-color: black;
    border-color: lightblue;
    border-width: 1px;
    border-style: solid
}

#thisIsMyDiv {
    font-size: 15px;
    color: cyan;
    background-color: navy;
    border-color: red;
    border-width: 5px;
    border-style: dashed
}

.bigred {
    font-size: 25px;
    color: red
}

.smallblue {
    font-size: 10px;
    color: blue
}

.big {
    font-size: 25px
}
.small {
    font-size: 10px
}
.red {
    color: red
}
.blue {
    color: blue
}
.purple {
    color: purple
}

.fiftypercent {
    width: 50%
}



